<html>
<head>
    <!-- Load the latest version -->
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
    <!-- Or load a specific version -->
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" />

    <!--CLARITY ICONS STYLE-->
    <link rel="stylesheet" href="https://unpkg.com/clarity-icons/clarity-icons.min.css">

    <!--CLARITY ICONS DEPENDENCY: CUSTOM ELEMENTS POLYFILL-->
    <script src="https://unpkg.com/@webcomponents/custom-elements/custom-elements.min.js"></script>

    <!--CLARITY ICONS API & ALL ICON SETS-->
    <script src="https://unpkg.com/clarity-icons/clarity-icons.min.js"></script>
</head>
<body>
    <header class="header header-6">
       <font color="#FFFFFF"; style="position: absolute; top: 20px; left: 10px;" size="5">Server Certificate Reports</font>
       <clr-icon shape="note" size="45"; style="position: absolute; top: 5px; left: 320px;"></clr-icon>
    </header>
    <div class="main-container">
        <div class="content-container">
            <div class="content-area">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Decimal</th>
                            <th>Hexadecimal</th>
                            <th>Binary</th>
                            <th>Roman Numeral</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>I</td>
                        </tr>
                        <tr>
                            <td bgcolor="#F76F6C">5</td>
                            <td>5</td>
                            <td>101</td>
                            <td>V</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>A</td>
                            <td>1010</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>F</td>
                            <td>1111</td>
                            <td>XV</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>