<html>
<head>
    <!-- Load the latest version -->
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
    <!-- Or load a specific version -->
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" />

    <!--CLARITY ICONS STYLE-->
    <link rel="stylesheet" href="https://unpkg.com/clarity-icons/clarity-icons.min.css">

    <!--CLARITY ICONS DEPENDENCY: CUSTOM ELEMENTS POLYFILL-->
    <script src="https://unpkg.com/@webcomponents/custom-elements/custom-elements.min.js"></script>

    <!--CLARITY ICONS API & ALL ICON SETS-->
    <script src="https://unpkg.com/clarity-icons/clarity-icons.min.js"></script>
</head>
<body>
    <header class="header header-6">
       <!-- <clr-icon shape="bars" style="width: 45px; height: 60px; position:absolute; left: 10px;" class="is-highlight"></clr-icon> -->
       <!-- <h4 style="position: absolute; left: 10px; "><font color="#FFFFFF">Server Certificate Reports</font></h4> -->
       <font color="#FFFFFF"; style="position: absolute; top: 20px; left: 10px;" size="5">Server Certificate Report</font>
       <clr-icon shape="note" size="45"; style="position: absolute; top: 5px; left: 300px;"></clr-icon>
    </header>
    <div class="main-container">
        <div class="content-container">
            <div class="content-area">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Connection</th>
                            <th>Common Name</th>
                            <th>Before</th>
                            <th>After</th>
                            <th>Serial Number</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
{% for certificate in certificate_result['results'] %}
{% if certificate['certificate_info']['connection'] %}
                        <tr>
                            <td>{{ certificate['certificate_info']['server'] }}</td>
                            <td>{{ certificate['certificate_info']['connection'] }}</td>
                            <td>{{ certificate['certificate_info']['subject']['CN'] }}</td>
                            <td>{{ certificate['certificate_info']['not_before'] }}</td>
                            <td>{{ certificate['certificate_info']['not_after'] }}</td>
                            <td>{{ certificate['certificate_info']['serial_number'] }}</td>
                            <td></td>
                        </tr>
{% else %}
                        <tr>
                            <td bgcolor="#F54F47">{{ certificate['certificate_info']['server'] }}</td>
                            <td bgcolor="#F54F47">{{ certificate['certificate_info']['connection'] }}</td>
                            <td bgcolor="#F54F47"></td>
                            <td bgcolor="#F54F47"></td>
                            <td bgcolor="#F54F47"></td>
                            <td bgcolor="#F54F47"></td>
                            <td bgcolor="#F54F47">{{ certificate['certificate_info']['msg'] }}</td>
                        </tr>

{% endif %}
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>